<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Details</title>
    <link rel="stylesheet" href="./../static/css/info.css">
</head>
<body>
    <header>
        <h1>Loan Details from </h1>
        <h3>{{data.lender_id.co_name}}</h3>
      <img src="{{data.borrower_id.photo.url}}" style="width: 100px; height: 100px; border-radius: 50px;"><br>
        <p><strong>ID:</strong> {{data.borrower_id.id}}</p>
        <p><strong>Name:</strong> {{data.borrower_id.name}}</p>
    </header>
    <div class="container">
        <div class="section">
            <h2>Loan Information</h2>
            <p><strong>Loan ID:</strong>{{data.loan_id.id}}</p>
            <p><strong>Loan Date:</strong> {{data.loan_id.loan_Date}}</p>
            <p><strong>Loan Amount:</strong> {{data.loan_id.loan_amount|floatformat:2}}/=</p>
            <p><strong>Rate:</strong> {{data.loan_id.interest_rate|floatformat:2}} %</p>
            <p><strong>Processing Fee:</strong> {{data.loan_id.processing_fee|floatformat:2}}/=</p>
            <p><strong>Total:</strong> {{data.loan_id.total_amm|floatformat:2}}/=</p>
            <p><strong>Loan Duration:</strong> {{data.loan_id.duration}} days</p>
            <p><strong>Last Date:</strong> {{data.loan_id.last_date}}</p>
          {% if tLeft > 10 %}
          <p><strong>Days to Expiry:</strong><span style="color: green;">{{tLeft}} days</span></p>
          {% elif tLeft < 10 and tLeft > 4 %}
          <p><strong>Days to Expiry:</strong><span style="color: orange;">{{tLeft}} days</span></p>
          {% else %}
          <p><strong>Days to Expiry:</strong><span style="color: red;">{{tLeft}} days</span></p>
          {%endif%}
          
        </div>
        <div class="section">
            <h2>Agreements & Collateral</h2>
            <p><strong>Agreement:</strong></p> <br />
            <img src="{{data.aggr_id.aggreement.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" style="width: 100px; height: 100px;"><br>
            <p><strong>Asset Name:</strong> {{data.asset_name}}</p>
            <p><strong>Description:</strong> {{data.description}}</p>
          <p><strong>Asset:</strong>
              <img src="{{data.asset_photo.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" style="width: 100px; height: 100px;"><br></p>
            <p><strong>Proof of Ownership:</strong> <br />
                <img src="{{data.proof.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" style="width: 100px; height: 100px;"><br>
                </p>
        </div>
        <div class="section">
            <h2>Repayment Records</h2>
            {% if info %}
            <div class="table-container">
					<table class="table">
				  <tr>
						<th>Date</th>
						<th>Paid</th>
						<th>Percentage Paid so far</th>
				 <th>Time left</th>
						<th>Balance</th>
				</tr>
				{% for i in info %}
				  <tr>
				<td>{{i.date}}</td>
				<td>{{i.paid|floatformat:2}}</td>
				<td>{{i.percentage_paid|floatformat:2}} %</td>
				    
				    {% if i.time_left < 0 %}
				    <td style="color:red;">Loan Expired!</td> 
				    {%elif i.time_left == 0 %}
				    <td>Ends Today!</td>
				    {%else%}
				<td>{{i.time_left}}</td>
				    {%endif%}
				<td>{{i.bal|floatformat:2}}</td>
				  </tr>
				{%endfor%}
				</table>
				{%else%}
				<h1>No record found</h1>
				{%endif%}
					</div>
        </div>
            <div id="modal" onclick ="closeImage()">
             <img id="fullImage" src="">
        </div>
    </div>
            
            <script src="./../static/js/info.js"></script>
            
</body>
</html>