<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kimtech Subscriptions</title>
  <link rel="stylesheet" href="./../static/css/subscription.css">
</head>

<body>

  <!-- Header -->
  <header>
    <img src="/static/images/logo.png" alt="Kimtech Logo">
    <h1>Kimtech Uganda</h1>
  </header>


  <!-- Menu -->
  <nav>
    <button> <a href="{% url 'app:home' %}">Home</a></button>
    <button> <a href="{% url 'app:report_error' %}">Report Error</a></button>
    <button> <a href="https://wa.me/256706749801?text=Hello Kimtech, I wannt you to help me with...">Help</a></button>
    <button> <a href="https://kimtech.pythonanywhere.com">About Kimtech</a></button>
    <button> <a href="{% url 'app:logout' %}">Logout</a></button>
  </nav>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li style="color: red; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 15px; padding: 15px;">{{ message
      }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if msg %}
  <li style="color: red; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 15px; padding: 15px;">{{ msg }}
  </li>
  {% endif %}

  <!-- Subscription Plans -->

  <h1 class="title">Please select your desired plan below.</h1>

  <div class="plans">
    <div class="plan" onclick="openModal('One day', 854, 120, 1)">
      <h3>One Day</h3>
      <p>UGX 1,000</p>
    </div>
    <div class="plan" onclick="openModal('One Week', 4709, 150, 7)">
      <h3>One Week</h3>
      <p>UGX 5,000</p>
    </div>
    <div class="plan" onclick="openModal('Two Weeks', 9175, 550, 14)">
      <h3>Two Weeks</h3>
      <p>UGX 10,000</p>
    </div>
    <div class="plan" onclick="openModal('One Month', 19757, 650, 30)">
      <h3>One Month</h3>
      <p>UGX 21,000</p>
    </div>
    <div class="plan" onclick="openModal('Three Months', 58301, 950, 90)">
      <h3>3 Months</h3>
      <p>UGX 61,000</p>
    </div>
    <div class="plan" onclick="openModal('Six Months', 120437, 950, 180)">
      <h3>6 Months</h3>
      <p>UGX 125,000</p>
    </div>
    <div class="plan" onclick="openModal('One Year', 236845, 1050, 365)">
      <h3>1 Year</h3>
      <p>UGX 245,000</p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="paymentModal">
    <div class="modal-content">
      <div style="color: red;" class="close" onclick="closeModal()">X</div>
      <h3 id="selectedPlan">Subscribe</h3>
      <p style="color: green;" id="desc">Plan description</p>
      <form action="{% url 'app:subscription' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="plan" id="plan" value="" readonly>
        <input type="number" name="pAmm" id="pAmm" value="" readonly>
        <label for="network">Network:</label>
        <select id="network" name="network" required>
          <!--    <option value="">Select Network</option>
          <option value="MTN">MTN</option> -->
          <option value="Airtel">Airtel</option>
        </select>
        <label for="phone">Mobile Number:</label>
        <input type="tel" id="phone" name="tel" placeholder="phone number..." required />
        <button type="submit">Pay Now</button>
      </form>
    </div>
  </div>


  <script>
    function openModal(name, amount, cha, opt) {
      document.getElementById("selectedPlan").innerText = `Subscribe to ${name}`;
      let total = Math.floor(amount + (0.03 * amount));
      document.getElementById("desc").innerText = ` ${opt} days at only UGX ${total} + ${cha}`;
      document.getElementById("plan").value = opt;
      document.getElementById("pAmm").value = amount;
      document.getElementById("pAmm").style.display = "none";
      document.getElementById("plan").style.display = "none";
      document.getElementById("paymentModal").style.display = "flex";
    }

    function closeModal() {
      document.getElementById("paymentModal").style.display = "none";
    }
  </script>
  </script>
</body>

</html>